#### 3. Import the required packages with their customary aliases

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### 4. Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [2]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")

In [3]:
gdp_df

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2023  1992.424394              NaN
1        Afghanistan  2022  1981.710168              NaN
2        Afghanistan  2021  2144.166570              NaN
3        Afghanistan  2020  2769.685745              NaN
4        Afghanistan  2019  2927.245144              NaN
...              ...   ...          ...              ...
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

[8219 rows x 4 columns]

#### 5. How many rows and columns are in gdp_df? What are the data types of each column?
#####   8219 Rows, 4 Columns.
#####   Country or Area has type object.
#####   Year has type int64
#####   Value & Value Footnotes have type float64.

In [4]:
gdp_df.shape

(8219, 4)

In [5]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

---
#### Question 6
> *Drop the Value Footnotes column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.*

In [6]:
gdp_df = gdp_df.drop(columns = 'Value Footnotes')
gdp_df = gdp_df.rename(columns = { 'Country or Area' : 'Country', 'Value' : 'GDP_Per_Capita'})

---
---
#### Task 7 Part A
> *How many countries have data for all years?*  
> 247 Countries have data for every year.

In [10]:
count_years = gdp_df.groupby('Country').count().sort_values(by = 'Year', ascending = False).reset_index()
count_years = count_years[['Country', 'Year']].rename(columns = {'Year' : 'Year Count'})

In [19]:
count_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     247 non-null    object
 1   Year Count  247 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.0+ KB

In [17]:
count_years[34 == count_years['Year Count']]

                                           Country  Year Count
0                                           Latvia          34
1                                    North America          34
2                                         Mongolia          34
3                                          Morocco          34
4                                       Mozambique          34
..                                             ...         ...
223                                          Ghana          34
224                                         Greece          34
225                              Equatorial Guinea          34
226                                        Grenada          34
227  Europe & Central Asia (excluding high income)          34

[228 rows x 2 columns]

---
#### Task 7 Part B
> *Which countries are missing many years of data?*
>

---
#### Task 7 Part C
> *Look at the number of observations per year. What do you notice?*
>

---
---
#### Task 8
> In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020. Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section.  
>  Create a histogram, a density plot, a boxplot, and a violin plot.  
> What do you notice when you look at these plots?  
> How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?